{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
    <div class="container">
    <h1>Keyword edit</h1>

    {{ form(edit_form) }}

        <a href="{{ path('admin_keyword') }}" class="btn btn-default btn-primary" role="button">
            Back to the list
        </a>
    <p></p>
        {{ form(delete_form) }}
    </div>
{% endblock %}
