{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
    <div class="container">
    <h1>Keyword creation</h1>

    {{ form(form) }}

        <p></p>
        <a href="{{ path('admin_keyword') }}" class="btn btn-default btn-primary" role="button">
            Back to the list
        </a>
    </div>
{% endblock %}
