@font-face {
	font-family: 'travellerdb';
	src:  url('../fonts/travellerdb.eot?hytt27');
	src:  url('../fonts/travellerdb.eot?hytt27#iefix') format('embedded-opentype'),
	url('../fonts/travellerdb.ttf?hytt27') format('truetype'),
	url('../fonts/travellerdb.woff?hytt27') format('woff'),
	url('../fonts/travellerdb.svg?hytt27#travellerdb') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'travellerdb';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-0:before {
	content: "\e917";
}
.icon-1:before {
	content: "\e918";
}
.icon-2:before {
	content: "\e919";
}
.icon-3:before {
	content: "\e91a";
}
.icon-4:before {
	content: "\e91b";
}
.icon-5:before {
	content: "\e91c";
}
.icon-6:before {
	content: "\e91d";
}
.icon-action:before {
	content: "\e91f";
}
.icon-admin:before {
	content: "\e90e";
}
.icon-attack:before {
	content: "\e90c";
}
.icon-combat:before {
	content: "\e906";
}
.icon-complication:before {
	content: "\e901";
}
.icon-connection:before {
	content: "\e902";
}
.icon-conn:before {
	content: "\e902";
}
.icon-contract:before {
	content: "\e903";
}
.icon-adv:before {
	content: "\e903";
}
.icon-crew:before {
	content: "\e904";
}
.icon-defense:before {
	content: "\e91e";
}
.icon-event:before {
	content: "\e905";
}
.icon-exert:before {
	content: "\e921";
}
.icon-exerted:before {
	content: "\e921";
}
.icon-expense:before {
	content: "\e920";
}
.icon-gear:before {
	content: "\e929";
}
.icon-heroic:before {
	content: "\e907";
}
.icon-infamy:before {
	content: "\e908";
}
.icon-initiative:before {
	content: "\e900";
}
.icon-jack:before {
	content: "\e90b";
}
.icon-jump:before {
	content: "\e928";
}
.icon-limited:before {
	content: "\e922";
}
.icon-limit:before {
	content: "\e922";
}
.icon-medical:before {
	content: "\e910";
}
.icon-psionic:before {
	content: "\e90d";
}
.icon-react:before {
	content: "\e923";
}
.icon-ready:before {
	content: "\e924";
}
.icon-science:before {
	content: "\e911";
}
.icon-ship:before {
	content: "\e909";
}
.icon-social:before {
	content: "\e912";
}
.icon-starshipoperation:before {
	content: "\e913";
}
.icon-structure:before {
	content: "\e927";
}
.icon-tech:before {
	content: "\e914";
}
.icon-travellersun:before {
	content: "\e916";
}
.icon-unique:before {
	content: "\e916";
}
.icon-underworld:before {
	content: "\e915";
}
.icon-upgrade:before {
	content: "\e90a";
}
.icon-use:before {
	content: "\e92a";
}
.icon-victorypoint:before {
	content: "\e90f";
}
.icon-beowulf:before {
	content: "\e909";
}
.icon-typesscout:before {
	content: "\e909";
}
.icon-submerch:before {
	content: "\e909";
}
.icon-empress:before {
	content: "\e909";
}
.icon-broadsword:before {
	content: "\e909";
}
.icon-neutral:before {
	content: "\e916";
}
.icon-wound:before {
	content: "\e92b";
}

.abandonment {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/abandonment.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.action {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/action.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.adminexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/admin+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.adminskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/admin.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.admintrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/admin-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.adv {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/contract.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.ally {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ally.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.alteration {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/alteration.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 15px 0px;
}
.armor {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/armor.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.av {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/av.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.attack {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/av.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.cargo {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cargo.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.cargomilitary {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cargomilitary.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.cargopassenger {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cargopassenger.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.cargosurvey {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cargosurvey.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.combatexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/combat+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.combatskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/combat.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.combattrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/combat-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.complication {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/complication.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.computer {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/computer.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.conn {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/connection.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.connection {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/connection.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.contract {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/contract.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.cost0 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost0.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.cost1 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost1.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.cost2 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost2.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.cost3 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost3.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}

.cost4 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost4.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}

.cost5 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost5.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}

.cost6 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost6.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.crew {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/crew.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.distance {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/distance.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.dv {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/dv.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.defense {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/dv.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.ev {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ev.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.expenses {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ev.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.event {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/event.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.exert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/exert.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.gadget {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/gadget.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.gear {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/gear.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.hardpoint {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/hardpoint.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.heroic {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/heroics.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.heroics {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/heroics.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.hull {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/hull.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.infamy {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/infamy.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.initiative {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/initiative.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.internal {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/internal.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.jackexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jack+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.jackskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jack.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.jacktrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jack-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.jump {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jump.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}

.limited {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/limited.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}

.linkedclosed {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/linkedclosed.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}

.linkedopen {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/linkedopen.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.locale {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/locale.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.medicalexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/medical+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.medicalskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/medical.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.medicaltrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/medical-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.military {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/military.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.militarysurvey {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/militarysurvey.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.organization {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/organization.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.passenger {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/passenger.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.passengermilitary {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/passengermilitary.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.passengersurvey {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/passengersurvey.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.psionicexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/psionic+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.psionicskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/psionic.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.psionictrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/psionic-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.react {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/reaction.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.reaction {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/reaction.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.ready {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ready.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.scienceexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/science+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.scienceskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/science.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.sciencetrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/science-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.ship {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ship.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.socialexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/social+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.socialskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/social.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.socialtrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/social-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.genes {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/species.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.species {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/species.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.staropsexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.staropsskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.staropstrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.structure {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/structure.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.subplot {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/subplot.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.survey {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/survey.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.techexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/tech+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.techskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/tech.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.techtrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/tech-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.underworldexpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/underworld+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.underworldskill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/underworld.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.underworldtrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/underworld-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.upgrade {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/upgrade.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.use {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/use.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.vehicle {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/vehicle.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.vp {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/vp.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.victorypoint {
	 display: inline-block;
	 background-size: contain;
	 background-image: url('/bundles/app/images/icons/vp.png');
	 background-position: 1px 100% ;
	 background-repeat: no-repeat;
	 padding: 16px 10px 0px;
}
.victoryppoint {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/vp.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.weapon {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/weapon.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.wound {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/wounds.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.wounds {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/wounds.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}

/* UPPER CASE FOR JAVASECRIPT*/
.Abandonment {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/abandonment.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Action {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/action.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.AdminExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/admin+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Admin {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/admin.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.AdminSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/admin.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.AdminTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/admin-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Adv {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/contract.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Ally {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ally.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Alteration {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/alteration.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 15px 0px;
}
.Armor {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/armor.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.AV {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/av.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Attack {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/av.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Cargo {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cargo.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.CargoMilitary {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cargomilitary.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.CargoPassenger {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cargopassenger.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.CargoSurvey {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cargosurvey.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.CombatExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/combat+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Combat {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/combat.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.CombatSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/combat.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.CombatTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/combat-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Complication {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/complication.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Computer {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/computer.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Conn {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/connection.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Connection {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/connection.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Contract {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/contract.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Cost0 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost0.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.\30 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost0.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Cost1 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost1.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.\31 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost1.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Cost2 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost2.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.\32 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost2.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Cost3 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost3.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.\33 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost3.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Cost4 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost4.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.\34 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost4.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Cost5 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost5.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.\35 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost5.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Cost6 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost6.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.\36 {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/cost6.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Crew {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/crew.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Distance {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/distance.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.DV {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/dv.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Defense {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/dv.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.EV {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ev.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Expenses {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ev.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Expense {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ev.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Event {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/event.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Exert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/exert.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Gadget {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/gadget.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Gear {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/gear.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.HardPoint {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/hardpoint.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Heroic {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/heroics.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Heroics {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/heroics.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Hull {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/hull.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Infamy {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/infamy.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Initiative {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/initiative.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Internal {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/internal.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.JackExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jack+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Jack {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jack.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.JackSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jack.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.JackTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jack-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Jump {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/jump.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Limited {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/limited.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.LinkedClosed {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/linkedclosed.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.LinkedOpen {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/linkedopen.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Locale {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/locale.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.MedicalExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/medical+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Medical {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/medical.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.MedicalSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/medical.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.MedicalTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/medical-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Military {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/military.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.MilitarySurvey {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/militarysurvey.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Organization {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/organization.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Passenger {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/passenger.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.PassengerMilitary {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/passengermilitary.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.PassengerSurvey {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/passengersurvey.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.PsionicExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/psionic+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Psionic {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/psionic.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Psionics {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/psionic.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.PsionicSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/psionic.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.PsionicTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/psionic-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.React {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/reaction.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Reaction {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/reaction.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Ready {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ready.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.ScienceExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/science+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Science {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/science.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.ScienceSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/science.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.ScienceTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/science-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Ship {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/ship.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.SocialExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/social+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Social {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/social.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.SocialSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/social.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.SocialTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/social-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Genes {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/species.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Species {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/species.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.StaropsExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Starops {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.StaropsSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.StaropsTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.StarshipOpsExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.StarshipOps {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.StarshipOpsSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.StarshipOpsTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/starops-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Structure {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/structure.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Subplot {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/subplot.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Survey {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/survey.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.TechExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/tech+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Tech {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/tech.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.TechSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/tech.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.TechTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/tech-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.UnderworldExpert {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/underworld+.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Underworld {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/underworld.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.UnderworldSkill {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/underworld.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.UnderworldTrained {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/underworld-.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Upgrade {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/upgrade.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Use {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/use.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Vehicle {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/vehicle.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.VP {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/vp.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.VictoryPoint {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/vp.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Weapon {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/weapon.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Wound {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/wounds.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}
.Wounds {
	display: inline-block;
	background-size: contain;
	background-image: url('/bundles/app/images/icons/wounds.png');
	background-position: 1px 100% ;
	background-repeat: no-repeat;
	padding: 16px 10px 0px;
}



