<table class="table table-condensed" id="table-graph-expense">
    <thead>
    <tr><th colspan="1"><span class="fa fa-bar-chart"></span> Repartition by Expense</th></tr>
    </thead>
    <tbody>
    <tr>
        <td><div id="expenseChart"><button type="button" class="btn btn-link" onclick="make_expense_graph()">Display graph</button></div></td>
    </tr>
    </tbody>
</table>