<style>
span.new	{ color:red }
p.mplain	{ color:green }
i		{ font-weight:bold }
</style>

<div style="text-align:justify">

<h1 id="FAQ">Errata and Frequently Asked Questions</h1>
<h3>Version 1.0, effective 1/13/2018</h3>

	<p>This document contains card clarification, errata, rule clarifications, frequently asked questions, and quick reference material for <strong><em>Traveller Customizable Card Game</em></strong>. The most recent version of this document is considered a supplement to the <strong><em>Traveller Customizable Card Game</em></strong> <a href="../rulesreference" target="_blank">Rules Reference</a>. All changes and additions to this document since the previous version are marked in <span class="new">red</span>.</p>

<p><b>New Content (v1.0):</b> <a href="#Card_Clarifications">Clarifications</a>, <a href="#Keyword_Errata">Keyword Errata</a>, and <a href="#Specific_Card_Errata">Specific Card Errata</a></p>

</br>

<h1 id="Notes_and_Errata">Notes and Errata</h1>

<p>This section contains notes and errata pertaining to specific cards or sections of the rulebook. The document version number in which an entry first appeared is listed with that entry in order to establish a history of when each change was made.<p>

<p>Errata overrides the originally printed information on the card it applies to. Unless errata for a card appears below, the original English non-draft product printing of that card and all of its information is considered accurate, and overrides all other printings. This includes translated cards, promotional or organized play cards, and printings which may appear in alternate products.</p>

<h2 id="Keyword_Errata">Keyword Errata</h2>
<h3><strong><u><a href="../rulesreference#KW_Reflec"><span class="new">REFLEC</span></a></u></strong></h3>
<p>An <strong><u><a href="../rulesreference#KW_Armor">ARMOR</a></u></strong> source with this keyword ignores any <strong><u><a href="./rulesreference#KW_Armor_Penetration">ARMOR PENETRATION</a></u></strong> from a wounding source with <strong><em>Laser</em></strong>.</p>

<h2 id="Specific_Card_Errata">Specific Card Errata</h2>
<p>New or corrected text displayed in <span class="new">red font</span></p>

<h3><strong>Redlining</strong></h3>
<p><span class="new">Play at the start of the phase.</span> Until end of phase, <span class="new">whenever any</span> captain expends a card, if the expended card shares a trait with a card controlled by that Captain, it is worth <span class="ev"></span>+1.</p>

<h3><strong>The Tigress’s Wake</strong></h3>
<p><span class="new">Play at the start of the phase.</span> Remove from play all <span class="contract"></span>, then replace as normal. Until the end of the round, any Captain of an <strong><em>Imperial</em></strong> gains 1<span class="vp"></span> for completing a <span class="contract"></span>.</p>

</br>

<h2 id="Card_Clarifications"><em>Clarifications</em></h2>
<p></p>
<h3><strong>Lt. Cmdr Sir Sandar van Othlezee</strong></h3>
<p>Some versions have the keyword <strong><u><a href="../rulesreference#KW_Replenish">REPLENISH</a></u></strong> printed in <strong><em>trait</em></strong> format, as <strong><em>Replenish</em></strong>. Both versions of the card use the <strong><u><a href="../rulesreference#KW_Replenish">REPLENISH</a></u></strong> mechanic, and the <strong><u>underline bold</u></strong> format is correct.</p>

<h3><strong>Mark Appleton</strong></h3>
<p>Mark’s ability allowing his controller to jettison him for 3<span class="ev"></span> permits the captain to expend him to meet an expense, as though Mark were a card in hand.</p>

<h3><strong>Ranke’s Razor</strong></h3>
<p>Captains may only select Captain’s Card types, and are forbidden from selecting either a <span class="contract"></span> or a <span class="complication"></span>.

<h3><strong>Reliance on Professionals</strong></h3>
<p>The requirement <em>added</em> by <strong>Reliance on Professionals</strong> can be met by any skill token of the requisite level. The reference to “any Trained Skill” and “any Expert Skill” does not allow the controller to name a skill of choice, but rather indicates that any skill token is sufficient to meet the requirement.</p>

<h3><strong>The Pretty Penny</strong></h3>
<p>Reference to “Ship card” should be treated the same as if it displayed the <span class="ship"></span> icon.</p>

</br>


<h1 id="Icon_Key"><em>Icon Key</em></h1>
<p>Current <strong><em>TravellerCCG</em></strong> Iconographic key is located on the <a href="https://www.travellerccg.com/downloads/"><strong><em>TravellerCCG Resources</em></strong></a> site.</p>

</div>
