<style>
span.new	{ color:red }
p.mplain	{ color:green }
i		{ font-weight:bold }
</style>

<div style="text-align:justify">

<h1 id="FAQ">Errata and Frequently Asked Questions</h1>
<h3>Version 1.0, effective 1/13/2018</h3>

	<p>This document contains card clarification, errata, rule clarifications, frequently asked questions, and quick reference material for <strong><em>Traveller Customizable Card Game</em></strong>. The most recent version of this document is considered a supplement to the <strong><em>Traveller Customizable Card Game</em></strong> <a href="../rulesreference" target="_blank">Rules Reference</a>. All changes and additions to this document since the previous version are marked in <span class="new">red</span>.</p>

<p><b>New Content (v1.0):</b> <a href="#Card_Clarifications">Clarifications</a>, <a href="#Keyword_Errata">Keyword Errata</a>, and <a href="#Specific_Card_Errata">Specific Card Errata</a></p>

</br>

<h1 id="Notes_and_Errata">Notes and Errata</h1>

<p>This section contains notes and errata pertaining to specific cards or sections of the rulebook. The document version number in which an entry first appeared is listed with that entry in order to establish a history of when each change was made.<p>

<p>Errata overrides the originally printed information on the card it applies to. Unless errata for a card appears below, the original English non-draft product printing of that card and all of its information is considered accurate, and overrides all other printings. This includes translated cards, promotional or organized play cards, and printings which may appear in alternate products.</p>

<h2 id="">Notes</h2>
<p><strong>Buccaneer</strong> <span class="Ship"></span> (<span class="Attack"></span>: 1, <span class="Defense"></span>:1, <span class="Structure"></span>:1) for any attribute not mentioned, you can always assume a value of 0, like <span class="Initiative"></span>: 0. When a complication buccaneer does damage to you, always assign that damage as an expense<span class="Expense"></span></p>

<h2 id="Keyword_Errata">Keyword Errata</h2>
<h3><strong><u><a href="../rulesreference#KW_Reflec"><span class="new">REFLEC</span></a></u></strong></h3>
<p>An <strong><u><a href="../rulesreference#KW_Armor">ARMOR</a></u></strong> source with this keyword ignores any <strong><u><a href="./rulesreference#KW_Armor_Penetration">ARMOR PENETRATION</a></u></strong> from a wounding source with <strong><em>Laser</em></strong>.</p>

<h2 id="Specific_Card_Errata">Recent Specific Card Errata</h2>
<p>New or corrected text displayed in <span class="new">red font</span></p>

<h3><strong>Redlining</strong></h3>
<p><span class="new">Play at the start of the phase.</span> Until end of phase, <span class="new">whenever any</span> captain expends a card, if the expended card shares a trait with a card controlled by that Captain, it is worth <span class="ev"></span>+1.</p>

<h3><strong>The Tigress’s Wake</strong></h3>
<p><span class="new">Play at the start of the phase.</span> Remove from play all <span class="contract"></span>, then replace as normal. Until the end of the round, any Captain of an <strong><em>Imperial</em></strong> gains 1<span class="vp"></span> for completing a <span class="contract"></span>.</p>

</br>

<h2 id="Card_Clarifications"><em>Clarifications and Errata</em></h2>
	<p>Most Recent at Top, complete list <a href="/erratas">here</a></p>
{% if erratas|length > 0 %}
	{% for i in 0..erratas|length-1 %}{% set errata = erratas[i] %}{% set card = errata.card %}
		<h3><strong> {{ errata.card.name }}</strong></h3>
		<p> {{ errata.textHtml|raw }}</p>
	{% endfor %}
{% endif %}
</br>


<h1 id="Icon_Key"><em>Icon Reference</em></h1>
<p>Current <strong><em>TravellerCCG</em></strong> Iconographic key is located on the <a href="https://www.travellerccg.com/downloads/"><strong><em>TravellerCCG Resources</em></strong></a> site.</p>
<img src="/bundles/app/images/rulesreference/traveller_icon_key.png" width="650px" class="container-fluid">


<h1 id=""Search_Key>Search Shortcuts</h1>
	<p>
		Since I removed the search modal that pops up and lists the short handed key, I am going to post it here as it is very quick and easy way to get really advanced search results:
		All of these are typed directly into the search box:
		<ul>
		<li> : Default search is Captain's Deck card name. For Adventure Cards, the <span class="contract"></span> name is searched. String/Text</li>
		<li>'': Searches the card code, this is the sites internal card numbers, since <strong><em>TravellerCCG</em></strong> does not have card numbers. Integer</li>
		<li>a: Searches the <em>flavor</em> text. String/Text</li>
		<li>b: Searches <span class="complication"></span><span class="abandonment"></span> modifier, Adventure Cards only, may be negative. Integer</li>
		<li>c: Returns all of the cards in the cycle. Cycles are usually sets of releases of cards.  At the moment, not sure how this is going to be implemented in the future, everything currently is in the Initial Launch cycle. String/Text</li>
		<li>d: Searches Adventure Cards for <span class="contract"></span><span class="distance"></span>. Integer </li>
		<li>e: Returns all of the cards in a pack. This can be combined with other searches to limit card pools to just these packs of cards. String/Text</li>
		<li>f: This is a list of the Ships, which is a quick way to return them. Each ship is setup as its own color branding / faction. Every other card not a ship is listed under Neutral. Cards that can only be used by specific ships are assigned to their ship faction. String/Text</li>
		<li>g: Searches the <span class="complication"></span> name. Only searches Adventure Cards. String/Text</li>
		<li>h: Searches the Adventure Cards for <span class="complication"></span> requirements. String/Text</li>
		<li>i: Searches the illustrator's name. String/Text</li>
		<li>j: Searches <span class="contract"></span><span class="complication"></span> slots for quantity. Integer</li>
		<li>k: Searches all of the card <strong><em>traits</em></strong>, currently does <em>NOT</em> search <span class="complication"></span> traits. String/Text</li>
		<li>l: Searches <span class="contract"></span> for <span class="abandonment"></span> penalty. Integer</li>
		<li>m: Searches Adventure Cards for <span class="contract"></span> requirements. String/Text</li>
		<li>n: Searches card's <span class="expenses"></span>, also supports < or >. Integer</li>
		<li>o: Searches card's Cost, also supports < or >. Integer</li>
		<li>p: Reserved for Pagination</li>
		<li>q: Reserved for Query Code</li>
		<li>r: Searches cards based on date released. Date Format</li>
		<li>s: Searches Adventure Card <span class="contract"></span><span class="subplot"></span> for requirements. String/Text</li>
		<li>t: Searches cards based on type (adv, conn, gear, ship, heroic, crew, upgrade, event, ship). String/Text</li>
		<li>u: Searches <span class="crew"></span> skills. String/Text</li>
		<li>v: Searches Adventure Cards for <span class="contract"></span><span class="vp"></span> points. Integer</li>
		<li>w: Searches <span class="crew"></span> cards based on <span class="wounds"></span>. Integer</li>
		<li>x: Searches the cards Text box area. Does <em>NOT</em> search Adventure Cards. String/Text</li>
		<li>y: Searches for allowed quantities, matching is questionable at the moment</li>
		<li>z: Searches subtypes, 2) Ally, 3) Locale, 4) Organization, 5) Alteration, 6) Armor, 7) Gadget, 8) Vehicle, 9) Weapon, 10) Computer, 11) Hardpoint, 12) Hull, 13) Internal. so a Z:10 searches for all Ship Upgrades that are Computer subtype. </li>
		</ul>
		So the real power comes in with combining search function like, if you wanted all of the 0 cost cards with an <span class="expenses"></span> > 0.  Which in the search box you would enter o:0 n>0. Or you say you have a great card that you want to play that needs an Aslan, k:Aslan.
	</p>
</div>
